{% extends 'base.html' %}

{% block head%}
  <title>Register</title>
  <link href="/static/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <form class="form-signin" action='/register' method="POST">
    <img class="rounded mx-auto d-block" src="/static/img/logo1.svg" alt="" width="72" height="72">
    <p></p>
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <label for="inputName" class="sr-only">Full Name</label>
    <input type="name" name="name" id="inputName" class="form-control" placeholder="Full Name" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
{% endblock %}